<!--progressbar-->
<!-- Add Progress -->
<div class="modal fade" id="progressForm" tabindex="-1" aria-labelledby="addProgressLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProgressLabel">Habilidades</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form novalidate #f="ngForm" [formGroup]="progressForm" (ngSubmit)="onSubmit(progressForm.value.id)">
                    <input type="hidden" formControlName="id" name="id">

                    <div class="form-group">
                        <input type="text" name="name" formControlName="name" class="form-control" id="sk_name"
                            placeholder="Nombre de la habilidad">
                    </div>
                    <div class="form-group">
                        <input type="text" name="quote" formControlName="quote" class="form-control" id="sk_quote"
                            placeholder="Descripción corta (max. 50)">
                    </div>
                    <div class="form-group">
                        <input type="number" name="number" formControlName="number" class="form-control" id="sk_number"
                            placeholder="Nivel de conocimiento: (max. 100)">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                        <button [disabled]="!f.valid" type="submit" class="btn btn-primary" data-bs-dismiss="modal">
                            Save changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<section class="container">
    <div class="container inner">
        <div class="row">
            <div class="col-11">
                <h3>Progresos adquiridos</h3>
            </div>
            <div class="col-1" *ngIf="isUserLogged">
                <button class="editButton" type="button" data-bs-toggle="modal" data-bs-target="#progressForm"
                    (click)="onNewProgressbar()">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="row">
            <ul class="listas">
                <li *ngFor="let item of progressList, let i = index" class="listas">
                    <div class="row">
                        <div class="col-7">
                            <div class="progress-box">
                                <h4 class="card-text" style="font-weight: bold;"> {{item.name}} </h4>
                                <div class="progress col-5">
                                    <div class="progress-bar bg-info" role="progressbar"
                                        [ngStyle]="{'width': item.number+ '%'}" aria-valuenow="50" aria-valuemin="0"
                                        aria-valuemax="100"> {{item.number}}</div>
                                </div>
                                <div class="col-7"></div>
                                <p class="card-text"> {{item.quote}} </p>

                            </div>
                        </div>
                        <div class="col-3"></div>
                        <div class="col-1" *ngIf="isUserLogged">
                            <button class="editButton" type="button" data-bs-toggle="modal"
                                data-bs-target="#progressForm" (click)="onEditProgressbar(i)">
                                <i class="fas fa-pen"></i>
                            </button>
                        </div>
                        <div class="col-1" *ngIf="isUserLogged">
                            <button (click)="onDeleteProgressbar(i)" class="editButton" type="button">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>